<div class="panel panel-success panel-dark widget-profile">
	<div class="panel-heading">
		<div class="widget-profile-bg-icon">
			<i class="fa fa-bar-chart-o">

			</i>
		</div>
		<div class="widget-profile-header">
			<span>Statistiques, ohh yeahh</span>
			<br/>
		</div>
	</div>
	<div class="list-group">


		<a class="list-group-item" href="">
			<i class="fa fa-chevron-right"></i>
			Films
            <span class="badge">
{{ nbFilms }}
            </span>
		</a>
		<br/>

		<a class="list-group-item" href="">
			<i class="fa fa-chevron-right"></i>
			Acteurs
            <span class="badge">
{{ nbActeurs }}
            </span>
		</a>
		<br/>


	</div>
</div>
